
table ,td,th
{
	border: 5px solid black;
	border-collapse: collapse;
	padding: 10px;
}
td.pr
{
	width: 200px;
}
table.formation
{
	width: 700px;
	margin: auto;
}
div
{
	background-color: lightblue;
	height: 15px;
}
p
{
	text-align: center;
}
/*
.area1 
{
	border: 2px solid black;
	width: 350px;
	height: 30px;

}
.area2
{
	border: 2px solid black;
	width: 350px;
	height: 100px;
}
table
{
	width: 400px;
}
*/