
[class*="box"]
{
	height: 33.33%;
	width: 33.33%;
}
[class^="container"]
{
	float: left;
	width: 25%;
	height: 50%;
	border:1px solid black;
	box-sizing: border-box;
}
.bigcontainer
{
	width: 80%;
	height: 600px;
	margin: auto ;
	box-sizing: border-box;
	border: 1px solid black;
	
}
[class*="box"]:nth-child(1)
{
	background-color: #4b778d;
}
[class*="box"]:nth-child(2)
{
	background-color:  #28b5b5;
}
[class*="box"]:nth-child(3)
{
	background-color: #8fd9a8;
}
.container5,.container6,.container7,.container8
{
 position: relative;
}
.box13
{
	position: absolute;
	top: 0;
	left: 0;
}
.box14
{
	position: absolute;
	top: 33.33%;
	left: 0;
}
.box15
{
	position: absolute;
	top: 66.66%;
	left: 0;
}
.box16
{
	position: absolute;
	top: 0;
	left: 0;
}
.box17
{
	position: absolute;
	top: 33.33%;
	left: 33.33%;
}
.box18
{
	position: absolute;
	top: 66.66%;
	left: 66.66%;
}
.box19
{
	position: absolute;
	width: 66.66%;
	top: 0;
	left: 0;
}
.box20
{
	position: absolute;
	left: 0;
    top:33.33%;
}
.box21
{
	position: absolute;
	left: 33.33%;
    top:33.33%;
}
.box22
{
	position: absolute;
	left: 0;
    top:0;
}
.box23
{
	position: absolute;
	left: 0;
    top:33.33%;
}
.box24
{
	position: absolute;
	left: 33.33%;
    top:0;
}
.box1
{
	position: relative;
}
.box2
{
	position: relative;
}
.box3
{
	position: relative;
}
.box4
{
	position: relative;
}
.box5
{
	position: relative;
	left: 33.33%;
}
.box6
{
	position: relative;
	left: 66.66%;
}
.box7
{
	width: 66.66%;
	position: relative;
}
.box8
{
	position: relative;
}
.box9
{
	position: relative;
	bottom: 33.33%;
	left: 33.33%;
}
.box10
{
	position: relative;
}
.box11
{
	position: relative;
}
.box12
{
	position: relative;
	left: 33.33%;
	bottom: 66.66%;
}
