body {
  font-family: Verdana, sans-serif;
  background-color: #0073e6;
}
*
{
	box-sizing: border-box;
}
p
{
	text-align: center;
	font-size: 16px;
    margin: 0px;
}

.container
{
	background-color: white;
	border-radius: 10px;
	width: 65%;
	height: 450px;
	margin: 50px auto 0 auto ;
	overflow: auto;
}
img
{
	width: 55%;
	float: left;
	height: 100%;
}
.rightcard
{
	float: left;
	height: 100%;
	width: 45%;
    padding: 3% 3% 0 3%;
}
.content1
{
	padding: 0px 20px 20px 20px;
	border-bottom: 1px solid #ccc;
}

input[type="text"],input[type="password"],input[type="submit"]
{
	width: 100%;
	padding: 12px 20px;
	border-radius: 30px;
	border: 1px solid #ccc;
	margin:10px 0px;
}
input[type="submit"]
{
	background-color: #0073e6;
	color: white;
	margin-top: 15px;
}
@media only screen and (max-width: 900px) 
{
	.container
	{
		width: 40%;
	}
	.rightcard
	{
		width: 100%;
	}
	img
	{
		display: none;
	}
}
@media only screen and (max-width: 1150px)
{
	.container
	{
		width: 90%;
	}
} 
span
{
	vertical-align: -60px;
	font-size: 80%;
	color: #ccc;
}
small
{
	color: #0073e6;
}