body
{
	padding:2%;
	background-color: #ddd;
	font-family: Helvetica, Arial, sans-serif;
}
*
{
	box-sizing: border-box;
}
.imgbox
{
	margin: 0px auto 0px auto;
	height: 123px;
	width: 123px;
}
.rightcard1
{
  padding:  20px;
}
p
{
	text-align: center;
	font-size: 85%;
}
.title
{
   padding: 14px 12px;
   font-size: 85%;
   border-bottom: 1px solid black;
}
[class^="row"]
{
	margin-bottom: 20px;
	overflow: auto;
}
.row-1 div
{
	background-color: white;
}
.leftcard2 div
{
	background-color: white;
}
[class="leftcard1"]
{
	width: 72%;
	float: left;
	margin-right: 3%;
	margin-bottom: 20px;
}
[class="rightcard1"]
{
	float: left;
	width: 25%;
	background-color: white;
	margin-bottom: 20px;

}
[class="leftcard2"]
{
	width: 72%;
	float: right;
	margin-right: 3%;
	margin-bottom: 20px;
}
[class="rightcard2"]
{
	float: right;
	width: 25%;
	background-color: white;
	margin-bottom: 20px;

}
.upperrow
{
	padding: 20px;
	margin-bottom: 20px;
}
.small_leftcard
{
	float: left;
	width: 48%;
	margin-right: 4%;
}
.small_rightcard
{
	float: left;
   width: 48%;
}
input[type="texte"],input[type="password"]
{
	width: 100%;
	padding: 8px 8px;
    margin: 10px 0px;
}
input[type="submit"]
{
	background-color: #25488e;
	color: white;
	float: right;
	padding:  12px 16px;
	border: none;
	font-size: 85%;
}
small
{
	font-size: 80%;
	color: #25488e;
	vertical-align :-50%;
}
.upperrow
{
	color: #666666;
	text-align: justify;
	line-height: 1.5;
	font-size: 90%;
}
label,span
{
	color: #999999;
	font-size: 80%;
}
@media only screen and (max-width: 1000px)
{
    body
    {
    	padding: 0px;
    }
    [alt]
    {
    	height: auto;
    }
	[class^="rightcard"]
	{
		width: 100%;
	}
	[class^=leftcard]
	{
		width: 100%;
	}
	.small_rightcard,.small_leftcard
	{
		width: 100%;
	}
	.upperrow
	{
		width: 100%;
	}
	[class="leftcard2"]
	{
		margin-right: 0px;
	}
}
.content
{
	padding: 20px 20px;
}
.card
{
	border-bottom: 1px dashed #ccc;
	padding: 10px;
	overflow: auto;
}
.content img
{
	width: 65px;
	height: 65px;
	float: left;
	margin-right: 20px;
}
h5
{
	margin: 10px 0px 0px 0px;
	color:   #0059b3;
	line-height: 1.5;
}
